# Ignore the node modules 
.src/node_modules/

# Ignore the junk that apple produces
.DS_STORE
src/node_modules/.bin/nodemon

src/node_modules/nodemon/.jscsrc

src/node_modules/nodemon/.jshintrc

src/node_modules/nodemon/.travis.yml

src/node_modules/nodemon/bin/nodemon.js

src/node_modules/nodemon/bin/postinstall.js

src/node_modules/nodemon/commitlint.config.js

src/node_modules/nodemon/doc/cli/authors.txt

src/node_modules/nodemon/doc/cli/config.txt

src/node_modules/nodemon/doc/cli/help.txt

src/node_modules/nodemon/doc/cli/logo.txt

src/node_modules/nodemon/doc/cli/options.txt

src/node_modules/nodemon/doc/cli/topics.txt

src/node_modules/nodemon/doc/cli/usage.txt

src/node_modules/nodemon/doc/cli/whoami.txt

src/node_modules/nodemon/lib/cli/index.js

src/node_modules/nodemon/lib/cli/parse.js

src/node_modules/nodemon/lib/config/command.js

src/node_modules/nodemon/lib/config/defaults.js

src/node_modules/nodemon/lib/config/exec.js

src/node_modules/nodemon/lib/config/index.js

src/node_modules/nodemon/lib/config/load.js

src/node_modules/nodemon/lib/help/index.js

src/node_modules/nodemon/lib/monitor/index.js

src/node_modules/nodemon/lib/monitor/match.js

src/node_modules/nodemon/lib/monitor/run.js

src/node_modules/nodemon/lib/monitor/signals.js

src/node_modules/nodemon/lib/monitor/watch.js

src/node_modules/nodemon/lib/nodemon.js

src/node_modules/nodemon/lib/rules/add.js

src/node_modules/nodemon/lib/rules/index.js

src/node_modules/nodemon/lib/rules/parse.js

src/node_modules/nodemon/lib/spawn.js

src/node_modules/nodemon/lib/utils/bus.js

src/node_modules/nodemon/lib/utils/clone.js

src/node_modules/nodemon/lib/utils/colour.js

src/node_modules/nodemon/lib/utils/index.js

src/node_modules/nodemon/lib/utils/log.js

src/node_modules/nodemon/lib/utils/merge.js

src/node_modules/nodemon/lib/version.js

src/node_modules/nodemon/LICENSE

src/node_modules/nodemon/package.json

src/node_modules/nodemon/README.md
